

<footer class="footer">
  <div class="container-fluid">
    <div class="col-sm-2" align="left">
      <hr>
      <a class="localLinks" href="dist/views/index.html"><h5>Home</h5></a>
      <a class="localLinks" href="dist/views/calculate.html"><h5>Calculate Fuel</h5></a>
      <a class="localLinks" href="dist/views/about.html"><h5>About Us</h5></a>
    </div>
    <div class="col-sm-10">
      <hr>
      Save Fuel now by Planing your Trip.
    </div>
    <hr>
    <div class="col-sm-12">Copyright 2017</div>
  </div>
</footer>
