<script>
var directoryName = 'project1/';
  var baseUrl = window.location.href.slice(0, window.location.href.indexOf(directoryName)) + directoryName;
  
  window.onload = function() {
    var links = document.getElementsByClassName('localLinks'); 
    var scripts = document.getElementsByClassName('localJSAssets');
    var images = document.getElementsByClassName('localImagesAssets');
    var allScripts = [];

    for (var i = 0; i < images.length; i++) {
      images[i].src = `${baseUrl}${images[i].getAttribute('src')}`;
    }
    for (var i = 0; i < links.length; i++) {
      links[i].href = baseUrl + links[i].getAttribute('href');
    }
    for (var i = 0; i < scripts.length; i++) {
      allScripts.push(scripts[i]);
    }
    for (var i = 0; i < allScripts.length; i++) {
      var script = document.createElement('script'); 
      script.src = baseUrl + allScripts[i].getAttribute('src');
      document.getElementsByTagName('body')[0].appendChild(script);
      var paras = document.getElementsByClassName('localJSAssets');
      while(paras[0]) {
        paras[0].parentNode.removeChild(paras[0]);
      }
    }
  }
</script>
<script class="localJSAssets" type="text/javascript" src="dist/assets/js/jquery.js"></script>
<script class="localJSAssets" type="text/javascript" src="dist/assets/js/tether.js"></script>
<script class="localJSAssets" type="text/javascript" src="dist/assets/js/bootstrap.js"></script>