$orangecolor: #F27C24;

.front, .back, .box{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.back, .infobox{
  padding: 10px;
}

.banner{
  padding-top: 2px;
  padding-bottom: 2%;
}

.bannerimg{
  object-fit: cover;
  width: 100%;
  max-width: 1024px;
}

.bannertext{
  color:white;
  text-align: center;
  padding-top: 5%;
}

.bannerbox{
  background-color: $orangecolor;
}

.infoimg{
  width: 150px;
}